<% content_for :title, "New date payment" %>

<h1>New date payment</h1>

<%= render "form", date_payment: @date_payment %>

<br>

<div>
  <%= link_to "Back to date payments", date_payments_path %>
</div>
